[2016-09-16 08:54] rsillero opened #1 "Está bien chida nomás la direqtiva"
Valió madres la funsionalidad limpia de divujar círculos muchas grasias le dejo mis 10.

[2016-09-16 09:09] #1 closed

[2016-10-13 10:01] patrikhermansson opened #2 "Default location of the map without fly to effect"
Hi! I would like the map to center on a certain location directly on load, however when you use the gl-center directive there is always a "fly to" effect. How can this effect be avoided for the first location set. So that it works like mapbox gl default location?

[2016-10-13 10:48] #2 closed

[2016-10-13 10:51] patrikhermansson commented on #2
Perfect.

[2016-10-13 11:16] Naimikan commented on #2
Hi!

I uploaded a new version solving it. Now "flyTo" only applies when glCenter value is changed.

[2016-12-29 11:09] patrikhermansson opened #3 "Directive can't be found when using browserify."
Great work on this project! I've been using it in a project that I am now moving over to browserify and it doesn't seem to work. Maybe I'm doing something wrong but first installing it with 'npm install' and then including it in my angular app with 'require' results in an error saying that 'mapboxgl-directive' doesn't exist and that my angular app therefore can't be loaded. Although the code is in

[2016-12-29 11:23] Naimikan commented on #3
Hello! Thank you for using my project.

I have not tried the directive with the browserify and I do not know what happens. I'll try it and let you know the results.

[2017-01-03 15:14] Naimikan commented on #3
Hi @patrikhermansson!

I've updated the directive and added a new grunt task for browserify. I couldn't prove it, tell me if it works.

[2017-01-10 09:04] #3 closed

[2017-02-09 17:31] K1N5L4Y3R opened #5 "Request: Add git tag with each version"
It would be great if whenever the project version changes (i.e. version in bower.json), the repository was tagged, so that navigation was easier and external tools could handle this package's versioning as well (in my case, I want to use it via [Rails Assets](https://rails-assets.org) but the package cannot be added unless it includes tags for versions [please see https://github.com/FezVrasta/boot

[2017-02-09 18:47] Naimikan commented on #5
Thank you @K1N5L4Y3R, I'm on it!

[2017-02-09 18:59] Naimikan commented on #5
Hi @K1N5L4Y3R, I tagged the version 0.30.3 and I think I added the package to Rails Assets. Tell me if you need something more.

Thank you very much!

[2017-02-09 19:21] #5 closed

[2017-02-10 00:22] K1N5L4Y3R commented on #5
That's all I needed. Gracias!

[2017-02-10 02:16] K1N5L4Y3R opened #6 "Invalid max bounds"
Im trying to use the `glMaxBounds` directive but getting an `Invalid max bounds` error.

I face this error both while trying to use it as per the wiki
`<mapboxgl gl-max-bounds="[[-73.9876, 40.7661], [-73.9397, 40.8002]]"></mapboxgl>`
, and with the controller scope
`<mapboxgl gl-max-bounds="bounds"></mapboxgl>`
`$scope.bounds = [[-73.9876, 40.7661], [-73.9397, 40.8002]]`

When debugging it looks l

[2017-02-10 08:38] Naimikan commented on #6
Hi @K1N5L4Y3R, I solved the problem. I forgot to insert the watcher for glMaxBounds directive.

About your off-topic, you can use `mapboxglMapsData` factory. You have to do something like:

[code]

[code]

Tell me if you need something more!

Thank you very much!

[2017-02-10 08:38] #6 closed

[2017-02-10 13:59] K1N5L4Y3R commented on #6
Wow, that was quick. Keep up the good work! Thanks

[2017-02-11 00:25] patrikhermansson opened #7 "Popups"
Hi!
I'm having problems with the popup api. Very easy to get popups to display by adding the 'popup' object to 'glLayers', however I cannot find a way to add a dynamic message or run a callback function on click? The 'message' attribute only allows for string.

For example: I send certain properties for each feature in my GeoJSON, such as an id. I'd like to use this id to fetch more data on the fe

[2017-02-11 10:27] Naimikan commented on #7
Hi @patrikhermansson!

The message attribute accept directives. I think you want to do something like:

[code]
I hope I have helped you, tell me if it works or if you need something more!

[2017-02-12 08:02] patrikhermansson commented on #7
Thank you very much! Works perfectly. Maybe put the attribute part in the documentation? :)

[2017-02-12 12:22] Naimikan commented on #7
@patrikhermansson yes, I have to complete the documentation 😅

[2017-02-12 12:22] #7 closed

[2017-02-14 09:45] AsmaGargouri opened #8 "can I use this module with Angular 2 ?"
I am working in an Angular 2 project and wish to integrate mapbox. Is it possibile to use this directive?

[2017-02-14 10:32] Naimikan commented on #8
Hi @AsmaGargouri! I haven't test the module in a Angular 2 project, and I don't know if it's possible. But you can use [angular2-mapboxg](https://github.com/kuflink/angular2-mapbox) by @kuflink.
Or maybe this [plnkr](https://plnkr.co/edit/M4m4aZMNr3yc7TgMD9Ko?p=preview) could help you.

I hope I've helped you.

[2017-02-14 12:37] AsmaGargouri commented on #8
@Naimikan thanks for your answer. Well, actually I had a problem with  angular2-mapboxgl by @kuflink. I'll try to use something else. maybe the javascript lib !

[2017-02-14 14:55] Naimikan commented on #8
Sorry @AsmaGargouri! Porting this directive from 1.x to 2.x is in my roadmap. I will do it once everything that Mapbox GL offers is implemented in my 1.x directive.

[2017-02-14 14:55] #8 closed

[2017-02-15 00:13] K1N5L4Y3R opened #9 "Request: Add working examples for glSources and glLayers"
I've been trying to use gl-sources and gl-layers directives according to the wiki documentation but I haven't had any visible results on the map when doing so, so I think that working examples for these (and in the future for all) directives would be extremely helpful.

For example I am using the following for gl-sources without success:

[code]

[2017-02-15 08:57] Naimikan commented on #9
Hi @K1N5L4Y3R! I'm working on examples in the page of the project.

In your example, the problem is that source coordinates are in LatLng format and mapboxgl needs a LngLat format, like:

[code]

Tell me if it worked!

[2017-02-15 15:42] K1N5L4Y3R commented on #9
Oops, I'm still getting used to the LngLat and forgot about it.

Thanks again!

[2017-02-15 15:42] #9 closed

[2017-02-23 16:12] LennyZ71 opened #10 "Popups not working correctly"
Able to attach popups from geojson using this object.
[code]

Once rendered on map though, the first popup clicked will go away with off click.  But it returns on the next marker that you click for it's popup.  So essentially showing two popups.  The popups also have trouble showing next to their respective marker, when that marker is close to the edge of the map, and marker has a wide div.

Also

[2017-02-24 15:50] Naimikan commented on #10
Hi @LennyZ71!

I updated a version solving this issue. The problem were mousemove event and creation of popups on it. I have to study how I can put popups in mouseover.

Tell me if it worked or If you need something more!

[2017-02-24 16:26] Naimikan commented on #10
Oh @LennyZ71, you can change the popup style like:

[code]

[2017-02-26 16:34] #10 closed

[2017-02-27 20:19] LennyZ71 commented on #10
Thanks, the double pop up issue has been solved.  Am still seeing the issue of markers along the edge.
In image below arrow indicates marker clicked, and you can see where popup renders. Sorry for delay in feedback was on road trip.

![image](https://cloud.githubusercontent.com/assets/10160563/23378020/892e0962-fcf7-11e6-92d0-62e8233b75b9.png)

[2017-02-28 08:51] Naimikan commented on #10
Hi @LennyZ71!

Exploring [your example link](https://gom-blocks-and-platforms.firebaseapp.com/#!/map), I saw that you forgot to put `rel="stylesheet"` in mapbox-gl.css and angular-mapboxgl-directive.css link tags. You have to put it and it will work.

[code]

[2017-03-01 15:27] LennyZ71 commented on #10
Problem solved!   Thanks sorry for oversight there. And Thanks again for getting this directive started.  I'm still processing the changes from using leaflet to gl.

[2017-03-20 11:41] mm-ns opened #11 "Adding markers"
Hi there,

First off thanks for the directive!

I was wondering what's the best approach to add markers? I can see you have glMarkers but I also see others drawing things using the geoJson method.

I tried the following:
`var a = new mapboxgl.LngLat(12.584943, 55.681505);
  var b = new mapboxgl.LngLat(12.584589, 55.681599);
  $scope.glMarkers = [a, b];`

`<mapboxgl track-resize="true" gl-controls=

[2017-03-20 14:46] Naimikan commented on #11
Hi @mm-ns! Thank you very much for use my directive.

I have to complete the documentation. You can create markers using glSources and glLayers directives.

[code]

[code]

Tell me if this worked!

[2017-03-20 15:04] mm-ns commented on #11
Hi there!

That's actually what I ended up doing xD Thanks!

[2017-03-20 15:05] mm-ns commented on #11
Can this method be used adding custom markers / icons / images?

[2017-03-20 15:17] Naimikan commented on #11
Hi!

You can use `glMarkers` directive like:

[code]

[code]

[2017-03-20 15:26] mm-ns commented on #11
Cool, Thanks! Appreciate it!

Do you know by any chance if there is any benefit using one method over the other one? Is geojson more performant?

[2017-03-20 16:11] mm-ns opened #12 "Clear map controls when back and forth between pages"
Hi again,

Everything is running smoothly now, but i'm facing the following problem:

I have a map where I draw a circle via glSources and glLayers and it all works well. However, if I leave my dashboard page and browse to another page on my app, and then I go back to the dashboard, I get the following:

![image](https://cloud.githubusercontent.com/assets/26540637/24109197/34029a76-0d90-11e7-8acb-

[2017-03-21 08:38] Naimikan commented on #11
I dont know if there are any benefits using markers or geojson.
Using markers, you are putting an HTMLElement inside a map canvas, and using geojson, you are drawing on the map.

I hope I've helped.

[2017-03-21 08:38] #11 closed

[2017-03-21 08:40] Naimikan commented on #12
Hi @mm-ns!

What version of mapboxgl and angular-mapboxgl-directive are you using? Can you provide me an example in codepen or in other platform?

[2017-03-21 10:41] mm-ns commented on #12
Hi @Naimikan,

I can try to see if I can reproduce that in a plunkr or similar. It looks like some variables, controls, or whatever is left over and not re-initialized. Ill work on making it now...

[2017-03-21 12:06] mm-ns commented on #12
Hi there. I made a plunkr here:  https://plnkr.co/edit/HY2tR5MSliZKU9Q3fLB6?p=preview

However I wasn't able to replicate the issue :( I tried to follow my own structure, I tried to simulate ajax requests with timeouts, etc, but no luck :(

I tried to add a console.log() locally on my machine in the angular-mapboxgl-directive in the "checkObjects" method (around line 1739) to print the "eachObject

[2017-03-21 12:39] mm-ns commented on #12
Oh I just tried to load <script defer src="https://cdnjs.cloudflare.com/ajax/libs/angular-mapboxgl-directive/0.33.0/angular-mapboxgl-directive.js"></script>

0.33 from cdns instead of my local version and I don't experience that issue any longer!!! only have that "TypeError: Cannot read property 'name' of undefined" on angular-mapboxgl-directive.js:746 which is due to the fact that  mapboxgl.Fulls

[2017-03-21 13:11] mm-ns commented on #12
Also, with the last 0.33 version of the directive, all my map controls are gone (at least they are not displayed) such as geolocator, etc.

[2017-03-21 17:10] Naimikan commented on #12
Hi @mm-ns!

I forgot to check if FullscreenControl constructor was undefined. I will update a new version fixing this, sorry!

About your other question, you can inject `mapboxglMapsData` factory and you can use `getMapById`method to get the map instance. Something like:

[code]

[code]

Tell me if it worked!

[2017-03-21 18:01] mm-ns commented on #12
Hi @Naimikan

No worries! I appreciate your work, it's great.

[2017-03-21 18:01] #12 closed

[2017-03-27 11:20] mm-ns opened #13 "mapboxgl.util is not longer accessible in the latest release"
As per title, wanted to give a heads up that if upgrading to 0.34.0 of Mapbox, mapboxgl.util is not longer accessible in the latest release as per [https://github.com/mapbox/mapbox-gl-js/issues/4393](url)

Not an expert with Mapbox nor the directive, so im not sure yet what this implies in terms of finding the issue. Give wanted to give a heads up :)

[2017-03-27 11:44] mm-ns opened #14 "Issue with multiple maps"
Hi again,

I have an issue where I load multiple independent maps in the same page, and I am having some issues that I can't really pinpoint with both layers and sources.

I was able to replicate a plunkr here: https://plnkr.co/edit/HY2tR5MSliZKU9Q3fLB6?p=preview

Do you have any idea of why that is?

I basically make independent maps in an array and each of the map has its own params, layers, con

[2017-03-27 14:25] Naimikan commented on #14
Hi @mm-ns!

I think I know what is the problem. I did all the management factories as Singleton and I have to do as a providers. I'm on it.

Sorry!

[2017-03-27 14:25] Naimikan commented on #13
Hi @mm-ns!

I will update the documentation for new CustomControls.

[2017-03-27 14:28] mm-ns commented on #14
Hi @Naimikan !

No worries! I just thought to mention it in case it went un-noticed ;) I already appreciate the work you do! Thx!

[2017-03-28 16:12] Naimikan commented on #14
Hi @mm-ns!

I updated a new version solving your issue!

Tell me if it worked!

[2017-03-29 08:19] Naimikan commented on #13
Hi @mm-ns!

I updated the examples page and wiki for mapboxgl.util deprecation.

Thank you!

[2017-03-29 08:19] #13 closed

[2017-03-30 12:43] mm-ns commented on #14
Hey @Naimikan.

thanks a ton, it worked!

[2017-03-30 12:43] #14 closed

[2017-04-03 08:31] Jogrin opened #15 "Dynamic Markers"
Hi! First of all tnx for the great job on the directive.
I'm not be able to add markers after the map initialization.
This is a Plunker with the bug (i used your example from a previous issue, #14 )

[https://plnkr.co/edit/KqlbdOoAbgA9YmABxuMe?p=preview](https://plnkr.co/edit/KqlbdOoAbgA9YmABxuMe?p=preview)

Maybe i'm doing something wrong..

[2017-04-03 09:17] Naimikan commented on #15
Hi @Jogrin!

I updated a new version solving the issue!

Tell me if it worked!

[2017-04-03 09:21] Jogrin commented on #15
@Naimikan Work like a charm! Tnx!

[2017-04-03 09:22] #15 closed

[2017-04-05 15:07] idanb11 opened #16 "How to get the instance of Mapbox GL JS map"
Hi @Naimikan ,
Thanks you for your work...

I was wondering how do I get the Mapbox GL JS map instance that was created by this directive ?

I mean this part:
[code]

[2017-04-05 15:21] Naimikan commented on #16
Hi @idanb11!

Thanks for use my directive!

You can get the Mapbox GL instance using `mapboxglMapsData` factory, like:

[code]

[code]

I hope I have helped you, tell me if you need something more!

[2017-04-05 15:48] idanb11 commented on #16
Thank you for your quick response...

cheers,

[2017-04-06 12:18] idanb11 opened #17 "Add support for Angular 1.6"
Hi @Naimikan ,

Currently the bower dependencies support only angular 1.5

[code]

But from what I tested, angular-mapboxgl-directive library works well with angular version 1.6.3,
So maybe it is possible to change bower.json dependencies like so:

[code]

Thanks.

[2017-04-07 08:49] Naimikan commented on #17
Hi @idanb11!

Thank you for the tip!

[2017-04-07 08:49] #17 closed

[2017-04-11 01:31] LennyZ71 opened #18 "WMS Layer?"
Naimikan,

I hate asking for help when I'm sure it's somthing I'm doing.  But could you demonstrate the ideal way to add this radar WMS layer?

'https://nowcoast.noaa.gov/arcgis/services/nowcoast/radar_meteo_imagery_nexrad_time/MapServer/WmsServer?service=WMS&request=GetMap&version=1.3.0&layers=1&styles=&format=image%2Fpng&transparent=true&height=481&width=1024&srs=EPSG%3A3857&bbox={bbox-epsg-3857

[2017-04-11 10:03] Karttin opened #19 "Examples"
Hello Naimikan,

Thanks for providing a directive for mapbox.
Will be really useful for new starters if you could post few examples for placing a point, click events, popups etc.

[2017-04-12 08:35] Naimikan commented on #18
Hi @LennyZ71!

I tried to add the radar WMS layer:

[code]
But I got an error: `Parameter 'srs(crs)' has wrong value.`

I don't know what is it, but it seems that parameter srs needs other value.

[2017-04-13 14:51] Naimikan commented on #19
Hi @Karttin!

Thanks for using my directive! You can see some examples [here](https://naimikan.github.io/angular-mapboxgl-directive/). I'm working on examples page, sorry!

[2017-04-14 00:50] LennyZ71 commented on #18
Sorry here is updated URL. Parameter srs is supposed to be crs  It seems to load link for me like that also, but it loads a black layer with no image and covers map, but not other layer I add.

'https://nowcoast.noaa.gov/arcgis/services/nowcoast/radar_meteo_imagery_nexrad_time/MapServer/WmsServer?service=WMS&request=GetMap&version=1.3.0&layers=1&styles=&format=image%2Fpng&transparent=true&height=4

[2017-04-15 08:17] idanb11 opened #21 "mapboxglMap:data event gives different object as the event listener function"
Hi @Naimikan ,

when listening to the 'data' event in mapbox gl SDK - you will receive a (MapDataEvent) object as the function handler input.

But when I use angular-mapboxgl-directive - I get a different object...

This is my scenario:
[code]

This output something like:
[code]

While if I use the directly the mapbox gl SDK like so:
[code]

I get the correct output - a "MapDataEvent" object:
[cod

[2017-04-15 08:53] Naimikan commented on #21
Hi @idanb11!

You can get the `MapDataEvent` with the second parameter.

[code]

First parameter is the angular event, and the second parameter is the mapboxgl event.

I hope I have helped you, tell me if it worked!

[2017-04-15 09:15] idanb11 commented on #21
Yes, it worked...

Can you please update the wiki - events page and add this example?
Or tell me how to update the wiki myself?

Thanks.
Idanb11.

[2017-04-18 09:11] Naimikan commented on #21
Hi @idanb11!

I have updated the wiki events page. I will update examples page soon.

Thank you!

[2017-04-18 09:11] #21 closed

[2017-04-18 09:46] idanb11 commented on #21
Thank you @Naimikan

[2017-04-18 09:57] Naimikan commented on #18
Hi @LennyZ71!

Did you get it to work? I don't know what is the problem. I advise you to open an issue in the repository mapbox-gl.

Sorry!

[2017-04-18 09:57] #18 closed

[2017-04-18 10:05] Naimikan commented on #18
Hi @LennyZ71!

I will post an issue en mapbox-gl repository.

[2017-04-19 12:29] SnpDeveloper commented on #19
Thanks for the quick response.

I am trying to replicate the popup functionality  and getting this error.

angular.js:14362 Error: `LngLatLike` argument must be specified as a LngLat instance, an object {lng: <lng>, lat: <lat>}, or an array of [<lng>, <lat>]

Any pointer whats going wrong will help me.

[2017-04-19 13:28] Naimikan commented on #19
Hi @SnpDeveloper!

Can you provide me a codepen o something like that, showing how you are doing it?

Thank you!

[2017-04-20 09:12] SnpDeveloper commented on #19
Here it is... I tried to use your example itself.
http://plnkr.co/edit/3SFe9S1cwefgbgCzAQmo

I am trying to have a popup for list of points (lat,long) and inside a popup i want a link to take to another page / route url.

I am bit stuck in first step itself, any help appreciated.

Please let me know what i miss.

[2017-04-20 13:28] Naimikan commented on #19
Hi @SnpDeveloper!

Yes! There are a bug. I will update a new version solving it!

Thank you!

[2017-04-20 13:56] Naimikan opened #22 "Markers with popups"
When I create a marker with a popup, it thorws an error:

`'LngLatLike' argument must be specified as a LngLat instance, an object {lng: <lng>, lat: <lat>}, or an array of [<lng>, <lat>]`

[2017-04-21 08:15] #22 closed

[2017-04-21 16:35] Genericum opened #23 "Map does not watch for new features afer initial load"
Hello Naimikan,

first of all: Thank you for your great work.

Today, I realized a strange behaviour: New features don't get displayed once the map has been painted.

For more information - see this Plunker (based on one of your examples):
https://plnkr.co/edit/qhRTztgEAZAhAijiOgM3

Have a great weekend
Tobi

[2017-04-21 16:53] Genericum opened #24 "Language attribute does not work"
Hello Naimikan,

first of all: Thank you for your great work.

In my opinion the language attribute is not working correctly.

For more information - see this Plunker (based on one of your examples):
https://plnkr.co/edit/paI3ABad1WingeeZiMCR

Maybe something like this peace of code is missing:
if (angular.isDefined(attrs.language)) {
          updateLanguage(map);
}

Thank you & have a great week

[2017-04-22 18:42] Naimikan commented on #23
Hi @Genericum!

Thank you for use my directive!

Yes, there was an issue, but I fixed it in version 0.34.1. If you change your current version of the directive, it will be solved.

Tell me if it worked!

[2017-04-22 18:54] Naimikan commented on #24
Hi @Genericum!

Thank you! Yes, there are a bug. I will update a new version solving this soon.

Thank you very much!

[2017-04-22 18:59] Naimikan commented on #24
Hi @Genericum!

I have updated a new version solving your problem.

Tell me if it worked!

[2017-04-24 14:31] Genericum commented on #24
Hi @Naimikan,

works like a charm - thank you!

[2017-04-24 14:41] #24 closed

[2017-04-24 14:41] #23 closed

[2017-04-24 14:50] Genericum commented on #23
It worked - thank you.

[2017-04-30 21:55] Naimikan commented on #18
Hi @LennyZ71!

It worked! https://codepen.io/Naimikan/pen/JNYyvd

[2017-05-01 03:29] LennyZ71 commented on #18
Very nice, I got it working with the glImage directive, but I couldn't get it to update on an interval, and the quality when zooming in didn't seem to render like the WMS does.  I will be swapping it over.  Thanks for the heads up!

[2017-05-12 23:00] kalabalik commented on #16
`app.controller('MyController', ['mapboxglMapsData', function (mapboxglMapsData) {
   var mapInstance = mapboxglMapsData.getMapById('myMap');
   // now, you have the Mapbox GL map instance
}]);`

Why is this always null for me? What could I possibly be doing wrong?

[2017-05-13 08:43] Naimikan commented on #16
Hi @kalabalik!

Thanks for use my directive.

Sorry, in a controller you have to wait to the load map event, like:

[code]

[2017-05-13 18:40] kalabalik commented on #16
Well thank YOU, for writing the directive in the first place!

It did work! And I feel a little bit embarrassed that I did not come up with the code by myself. In fact, I was playing around with an angular event, but didn't know what it was called. However, if one looks closer, it is all [there](https://github.com/Naimikan/angular-mapboxgl-directive/wiki/Events).

[2017-05-16 08:48] kalabalik opened #25 "How to make a polygon clickable"
I am trying to show popups when the user clicks on (or hovers over) a polygon (similar to [this](https://www.mapbox.com/mapbox-gl-js/example/polygon-popup-on-click/) example). I tried it via pure GeoJSON and via an explicit listener (`$scope.$on`). Neither approach worked for me. While the first one a no observable result, the second one throws an error with the following stack trace (if I click a

[2017-05-16 11:59] viztastic commented on #8
@Naimikan Any news on when you think you'll be able to port it from 1 to 2.x?

[2017-05-16 14:22] LennyZ71 commented on #25
@kalabalik
I had a similar issue, make sure your using rel=stylesheet in your css link as here in this[ issue.](https://github.com/Naimikan/angular-mapboxgl-directive/issues/10).

Also you can see this site I've been testing with:
https://gom-blocks-and-platforms.firebaseapp.com/#!/map
Should be able to inspect the code and see some working examples.  There aren't always polygons on there. But if

[2017-05-17 13:24] Naimikan commented on #25
Hi @kalabalik!

Sorry, I hadn't time for test your issue, but I think that you have to put `popup` attribute in `$scope.layers` object, like:

[code]

Tell me if it worked!

[2017-05-17 13:26] Naimikan commented on #8
Hi @viztastic!

I was very busy and I do not know when I can have a stable version. Sorry!

[2017-05-17 20:21] kalabalik commented on #25
@LennyZ71 Thanks, but the css was linked correctly.

@Naimikan That was it! Moving the `popup` into `$scope.layers` did the trick.

Now my only remaining problem is how to make each polygon show a _different_ message in the `popup`. How would I reference the `properties` in the (many) features inside `$scope.sources` from the (one) `popup` declaration? In a situation like this:

[code]
I tried `po

[2017-05-18 07:08] Naimikan commented on #25
Hi @kalabalik!

Yes, you can do this with:

[code]

Tell me it it worked!

[2017-05-18 19:43] kalabalik commented on #25
`'${popupmessage}'` (dollar sign outside the curly brackets) worked for me.

Thank you very much for your straightforward help and patience with me!

[2017-05-19 07:32] #25 closed

[2017-06-16 19:23] chalber opened #26 "Changing style loses glLayers"
Hello,
thanks for tis great library, i have the following issue
i have the style url in a scope object "gl-style=vm.mapboxStyle" but when i change the string the new style gets loaded but all previously loaded layers are gone, how do i retain them?

[2017-06-16 20:02] Naimikan commented on #26
Hi @chalber!

Yes, I'm working on that feature. I will update a new version soon.

[2017-07-18 08:14] st-sathish opened #27 "gl-layers not showing marker on the map"
Hello Naimikan,
Thanks for your great library. I was trying to load sample json data along with new layer to add a marker on the map but unfortunately, the marker was not showing. The sample data in a non-angular way, It means using map-box script add-layer is working fine. below is the code I was trying.

angular-way:
In html:
[code]

In JS Controller file:
[code]
 Is there anything am doing wron

[2017-07-19 11:29] Naimikan commented on #27
Hi @st-sathish!

Thank you! Which version of directive are you using? I have tried with v0.38.0 and it works fine.

P.D: if you want to see the description field as popup message, you have to do something like:
[code]

[2017-07-19 17:31] st-sathish commented on #27
I'm using v0.36.1 version.

[2017-07-19 18:43] Naimikan commented on #27
Try to use v0.38.0 @st-sathish, I think I fixed that issue in the past.

[2017-07-20 05:37] st-sathish commented on #27
@Naimikan I'll try. Thank you for your quick response :)

[2017-07-20 10:52] st-sathish commented on #27
@Naimikan one quick question. Whether your latest v0.38.0 support previous angular version? Currently, I'm using angular v1.4.7.

[2017-07-20 11:03] Naimikan commented on #27
Hi @st-sathish! Yes, no problem about angular v1.4.7

[2017-07-21 05:04] st-sathish commented on #27
Thank you

[2017-07-31 10:45] Mushaqdeen-J opened #28 "Marker changes its position on zoom"
Hi,
     Thanks for this directive, it was very useful for me. I have successfully integrated this in one of my project . But the icon(marker) that I placed in map is not fixed while zoom in or out. The marker is changes its position while zoom. I am using angular-mapboxgl-directive 0.38.0 2017-07-11.

[2017-08-01 08:07] Naimikan commented on #27
Hi @st-sathish, it worked?

[2017-08-01 08:09] Naimikan commented on #28
HI @Mushaqdeen-J!

Thank you, can you provide me an example?

[2017-08-01 13:11] Mushaqdeen-J commented on #28
http://demo.empower-erp.com:88/sms-screen/index.html#/details/5001

[2017-08-01 14:16] Naimikan commented on #28
Hi @Mushaqdeen-J!

Well, I think the problem is marker object. In Mapbox GL, the (0, 0) point in a marker is top-left corner, not the center of the image. Then, when you create a marker, you have to do something like:

[code]

Tell me if it worked and if i can help you with something more!

[2017-08-02 10:50] #27 closed

[2017-08-02 10:53] Naimikan commented on #28
Hi @Mushaqdeen-J!

Did you solve the problem?

[2017-08-02 11:35] Mushaqdeen-J commented on #28
Hi
`options: {
         offset:[-15, -15] // this values are width/2 and height/2 of image dimensions
      }`
fixed the problem, Now its working fine. Now I want to fit two markers in a view bound. Is there any directive to do that.

[2017-08-02 11:42] Naimikan commented on #28
Hi @Mushaqdeen-J!

I think that directive you are looking for is glMaxBounds, but I don't understand what you want to do.

[2017-08-02 11:59] Mushaqdeen-J commented on #28
Oh sorry, what I want is I set my zoom as 12 and I placed two markers in my map but the two markers are not in my zoom level anyway I want to change my zoom level to fit the markers in my zoom level

[2017-08-02 15:24] Naimikan commented on #28
Well, I think if you use glMaxBounds directive, you can do it.

I hope I have helped you.

[2017-08-02 19:18] st-sathish commented on #27
@Naimikan , we already have a code which is not in angular in a separate page using traditional map-box java script code. After a long month our client asked me to develop a new page to integrate map-box for their new requirement without disturbing existing code so I tried your lib to avoid lot of boiler plate. But now they were asking to integrate this functionality to their existing code. so I c

[2017-08-03 08:14] Naimikan commented on #28
Oh, sorry, I'm working on example page.

You can find [here](https://github.com/Naimikan/angular-mapboxgl-directive/wiki/Directives#glmaxbounds-lnglatboundslike) my (incomplete) wiki, or [here](https://www.mapbox.com/mapbox-gl-js/example/restrict-bounds/) for mapbox-gl example.

[2017-08-03 08:15] Naimikan commented on #27
Oh! ok, don't worry @st-sathish!

Thank you!

[2017-08-03 11:57] Mushaqdeen-J commented on #28
No luck check the below link
http://demo.empower-erp.com:88/sms-screen/index.html#/details/5014

[2017-08-11 01:59] ExaltedJim opened #29 "Setting language attribute when using custom style"
Hi,

Question - should the language attribute work when applying a custom style to mapbox?

It seems to work when there is no style applied, but as soon as I apply my custom style with the gl-style directive the language reverts back to English.

Thanks.

[2017-08-15 08:32] sK0pe opened #30 "fitbounds"
Hi @Naimikan, I've been messing around with moving to Angular using your helpful directive however the mapbox-gl "fitbounds" function is one that I can't seem to access or maybe it's missing, not really sure as to how to get to this functionality.  I found it very useful when using regular Leaflet and Mapbox-Gl.

[2017-08-25 02:29] kendrickesley opened #31 "Adding Sprite"
Hi! How can we add sprites to the directive?

[2017-08-28 08:30] Naimikan commented on #30
Hi @sK0pe!

You can access to `mapboxgl` instance injecting `mapboxglMapsData` service, like this:

[code]

[code]

Tell me if it worked!

[2017-08-28 08:35] Naimikan commented on #29
Hi @ExaltedJim!

I think you have to define your languages by style, but I don't know exactly. Sorry!

[2017-08-28 08:42] Naimikan commented on #31
Hi @kendrickesley!

Currently, you can't add a sprite. I will create an issue for this functionality.

Thank you!

[2017-08-28 08:49] Naimikan commented on #28
Hi @Mushaqdeen-J!

Did you solve the problem?

[2017-08-29 12:45] Naimikan commented on #26
Hi @chalber!

I have updated a new version including `persistent` attribute. You have to do something like:

[code]

With this, if the style changes, glSources and glLayers will recreate with the new style.

Tell me if it worked!

[2017-08-30 11:21] sK0pe commented on #30
Hi @Naimikan sorry for the late reply, I had to move onto some other projects.
I came back to my mapping portion and your code worked great!
Sorry for the noobish question but I've ended up at AngularJS and Javascript project coming from an Angular / Typescript path, so your powerful directive didn't make complete sense initially.

[2017-08-30 13:52] #30 closed

[2017-09-07 08:35] #26 closed

[2017-09-07 08:35] #28 closed

[2017-09-12 11:36] sprattek opened #32 "mapbox-gl-draw instance"
Hey, thanks for a great directive, I'm trying to extend it a bit with some custom functions which I need. I've already added [circle drawing tool](https://github.com/mblomdahl/mapbox-gl-circle) which works perfect.

Now I would need some kind of floorplan positioning tool, currently I'm adding image layer with floorplan and I would like to add drawing tool polygon with same coordinates onto that a

[2017-09-12 12:51] Naimikan commented on #32
Hi @sprattek!

Currently, it's not posible to get the draw instance, but I will update a new version including this feature.

Thank you!

[2017-09-12 13:02] sprattek commented on #32
Sounds great, thanks for a feedback.

[2017-09-12 15:46] Naimikan commented on #32
Hi @sprattek!

I have updated a new version, adding `mapboxglMap:controlsRendered` event. You can get control instance like:

[code]

Tell me if it worked!

[2017-09-12 16:10] #29 closed

[2017-09-13 07:53] sprattek commented on #32
Wow that was fast pal and it's working great, thank you.

Unfortunately I'm having same issue while added polygon is not visible until clicking somewhere on map and I realized that it's probably because it's not added after map is loaded in "on load" event. In this [jsfiddle](https://jsfiddle.net/opf9z4ft/10/) it's working fine while I'm adding draw in load event but if it's moved outside, polygon

[2017-09-13 11:00] Naimikan commented on #32
Hi @sprattek!

I think you have to wait until map is loaded to add some features. But I could add a new attribute for draw control to add default features.

Thank you!

[2017-09-13 11:13] sprattek commented on #32
Hi @Naimikan,

thank you for response, I know that I've to wait for map to be loaded and I've tried to use 'mapboxglMap:load' for that purpose but as I said it doesn't seem to help so I was just wondering if there is maybe some other listener or maybe you have some idea how to wait for map loaded event. Anyway no probs if nothing crossed your mind, keep up good work and thank you again.

[2017-09-26 09:37] sprattek commented on #32
In case someone will be looking for a working workaround, this is something what's working for me:

[code]

[2017-09-29 12:57] ddelella opened #34 "Cannot find name mapboxgl"
Version: 0.40.1
Angular: 1.5.9

Installed both the directive and mapbox-gl from npm.  Added the .run(...) with access token to the end of the app.module('app',['mapboxgl-directive']) command.  Added the HTML to my controller files.  The error is being produced from the access token setting in the app.module().run() block of code as per the examples.  I have tons of other controls installed but thi

[2017-10-02 08:51] Naimikan commented on #34
Hi @ddelella!

Can you provide me an example? Thank you!

[2017-10-09 04:45] mm-ns opened #35 "Popup on hover"
Hi @Naimikan

Do you have a way in your directive to show up a popup when you hover over a marker ? (i use glLayers and glSources like so :
[code]

Works on click but i need to understand how to do it on hover with your directive.

[2017-10-10 08:51] Naimikan commented on #35
HI @mm-ns!

I'm working on that feature. I will update a new version soon.

Thank you!

[2017-10-10 09:27] mm-ns commented on #35
Cool :) Thanks! So far I have a workaround where I check on mousemove if im on one of my markers and then opening a popup.

[2017-10-11 13:28] that1guy opened #36 "Question: Understanding today's limitations?"
Hi @Naimikan,

We have a production application that leverages https://github.com/angular-ui/ui-leaflet, which is a fork of https://github.com/tombatossals/angular-leaflet-directive.  On top of `angular-ui leaflet` we use https://github.com/Leaflet/Leaflet.markercluster for marker clustering, and https://github.com/Leaflet/Leaflet.label for advanced labeling needs.  Lastly, we have a huge implemen

[2017-10-18 13:59] iltaen commented on #34
Same problem
angular 1.5.9
angular-mapboxgl-directive 0.41.0
mapbox-gl 0.41.0

@ddelella did you solve this?

[2017-11-07 10:28] aakashbehal opened #37 "Edit Geofence once rendered on mapbox"
Hi,
love your directives, helped me a lot.
However i am stuck in editing a shape created through draw method.
This is when i get latlong data from the server which i created previously and saved to the server, i was able to render geofence on map with
[code]

but not able to edit this shape.
Use Case - GEOFENCE

[2017-11-11 10:32] Naimikan commented on #37
Hi @aakashbehal!

I have added a new attribute to glControls draw control. You can assign features to draw control and then edit them.

[code]

[code]

I will update an example soon.

Tell me if it worked!

[2017-11-11 10:34] Naimikan commented on #32
Hi @sprattek!

I have added a new feature in glControls draw. You can initialize features in draw instance like:

[code]

Tell me if it worked!

[2017-11-11 10:36] #34 closed

[2017-11-11 10:39] Naimikan commented on #36
Hi @that1guy!

Hmmm... let me see if I can do a test with clustering and I tell you.

Thank you!

[2017-12-19 08:48] #32 closed

[2017-12-19 08:48] #37 closed

[2018-01-02 09:45] BohdanKorinnyi opened #38 "Navigation control does not work"
Hi, I'm trying to add navigation control to my map but it doesn't appear. I use code from [example](https://naimikan.github.io/angular-mapboxgl-directive/#/examples/show_navigation_control).
Also I tried to run other examples from control section and it also didn't work.
What is wrong? Why does it not work? Example in [jsfiddle](https://jsfiddle.net/zkba7npd/)
![image](https://user-images.githubus

[2018-01-02 09:55] Naimikan commented on #38
Hi @BohdanKorinnyi!

I think that the problem is <link> tag. I forgot to put rel="stylesheet" in <link> tags.

Tell me if it worked!

[2018-01-02 09:58] BohdanKorinnyi commented on #38
Hi @Naimikan!
I changed div to `<div mapboxgl gl-controls="glControls" rel="stylesheet"></div>`. It still doesn't work.

[2018-01-02 10:01] Naimikan commented on #38
No @BohdanKorinnyi!

You have to put rel="stylesheet" in <link> tags:

[code]

[2018-01-02 10:04] BohdanKorinnyi commented on #38
It works!
Thanks a lot @Naimikan! :raised_hands:

[2018-01-02 10:05] #38 closed

[2018-01-08 15:43] Naimikan commented on #19
Hi @Karttin!

You can find some examples [here](https://naimikan.github.io/angular-mapboxgl-directive/#/)

Thank you!

[2018-01-08 15:43] #19 closed

[2018-01-08 17:50] DarrenBangsund opened #39 "Invalid source ID"
I've been staring at this one trying to figure it out for a while now and can't seem to figure it out, I apologize if it's something simple that I'm missing! I'm trying to add a source from a mapbox url through the gl-sources directive, so I'm feeding an [Object] type in:
![image](https://user-images.githubusercontent.com/11287980/34683946-69495d46-f458-11e7-926b-9f26628c2b38.png)

And receive the

[2018-01-08 19:48] Naimikan commented on #39
Hi @DarrenBangsund!

Thank you for use my directive. Could you provide me a codepen or something like that?

Thank you.

[2018-01-09 14:01] BohdanKorinnyi opened #40 "Markers lose its position during scroll"
Hi!
In the beginning thanks for the great directive :+1:

I have a trouble when scrolling a map with markers. Each markers lose its position in the moment of scrolling and get right position after finishing of the process.

![image](https://user-images.githubusercontent.com/8822555/34724146-7f7c8d1a-f555-11e7-944f-32b171eb639c.png)
1. Before scrolling
2. In the moment of scrolling
3. After scrolli

[2018-01-10 09:22] Naimikan commented on #40
Hi @BohdanKorinnyi!

Can you provide me a codepen?

Thank you!

[2018-01-10 09:33] BohdanKorinnyi commented on #40
Hi @Naimikan !
I use this icon [here](http://fontawesome.io/icon/map-marker/).

[2018-01-10 14:36] BohdanKorinnyi commented on #40
@Naimikan Do you have any idea how to fix this wrong behavior?

[2018-01-10 15:08] Naimikan commented on #40
Hi @BohdanKorinnyi

Can you do an example with codepen to check the problem?

Thank you

[2018-01-11 10:31] BohdanKorinnyi commented on #40
Hi @Naimikan
I created a repository with example and you can take a look here: https://bohdankorinnyi.github.io/mapbox-gl-angular/

Thank you

[2018-01-11 11:12] Naimikan commented on #40
Hi @BohdanKorinnyi!

I think the problem is from Mapbox GL library, and I don't know how to solve it, but, If you want, you can use circle geojson instead marker.

[code]

Sorry!

[2018-01-16 11:46] renanasofia opened #41 "How can I use an image as an icon-image for the 'unclustered-point' layer?"

[2018-01-16 13:01] BohdanKorinnyi opened #42 "Map doesn't handle data changes after any events"
Hi @Naimikan !

I have a map on my page. It has default center.

    $scope.glCenter = { lat: 45.53, lng: -73.58 };

I added simple event listener to my map in order to change map's center to another coordinates after click by map. It looks like:

    $scope.$on('mapboxglMap:click', function (event, events) {
        $scope.glCenter = { lat: 45.53, lng: -72.58 };
    });

After I clicked by map it

[2018-01-17 17:04] Naimikan commented on #41
Hi @renanasofia!

I'm not sure how to do that, let me think about it.

I think that you have to change the layer type to symbol and use your custom sprite file. I hope this link helps you https://stackoverflow.com/questions/42322746/adding-url-images-to-mapbox-gl-js-layers

[2018-01-17 17:09] Naimikan commented on #42
Hi @BohdanKorinnyi!

The problem is the angular scope, you have to do an $apply on the $scope:

[code]

Tell me if it worked!

[2018-01-19 19:26] BohdanKorinnyi commented on #42
Hi @Naimikan !

Thank you! It works well !

[2018-01-19 19:55] #42 closed

[2018-01-20 19:09] #41 closed

[2018-02-07 03:00] jfan0888 commented on #32
Hi @Naimikan!

Thanks for creating this directive. Currently I am trying to save and load something which I drawn by tool. Could you kindly assist me? I attached a screenshot to help your understanding.

[2018-02-08 16:53] Naimikan commented on #32
Hi @jfan0888!

Can you create a new issue with this problem and explain it? Thank you!

[2018-02-08 18:41] jfan0888 commented on #32
Hi @Naimikan!

Thanks for your response. I will do.

[2018-02-08 19:12] jfan0888 opened #43 "Save and load polygon drawn with mapbox draw tool"
Hi @Naimikan,

I didn't find how can solve this problem on the document. As I mentioned on this issue title, I am going to implement this functionality using this directive. I used Airmap for gl-style.

Looking forward to your kind response.

Regards,
Super

[2018-03-06 20:11] #39 closed

[2018-03-06 20:11] #40 closed

[2018-03-12 07:57] ThomasLohmann opened #45 "Angular 2 Support?"
Hi everyone!

Are there any plans to write a directive for Angular 2?

Best regards,
Thomas

[2018-03-12 20:30] BohdanKorinnyi opened #46 "Question: Clean source and layer"
Hi @Naimikan !
I try to remove all layers from from the map but in some reason it doesn't work.

I have the following sources

[code]

In order to remove all source I do:

[code]
After that I try to add a source with id that was in `$scope.glSource` before removing I receive an error because the souce already exists with such id.

How can I remove source/layer correctly?

[2018-03-12 20:36] Naimikan commented on #46
Hi @BohdanKorinnyi!

Could you provide me a codepen with an example?

Thank you!

[2018-03-14 08:22] BohdanKorinnyi opened #47 "How to get information about the line which was clicked?"
Hi @Naimikan !
Are there any ability to get information about the source which was clicked on the map?
Suppose I have two sources at one layer, like [here](https://bohdankorinnyi.github.io/mapboxgl-select-source/index.html)!

[code]

If I click on the one of lines, I would like to get event about click on this line.

How can I do it? Thanks!

[2018-03-15 13:30] BohdanKorinnyi commented on #47
Hi @Naimikan !
Do you have any idea how to do it?

[2018-03-15 13:31] BohdanKorinnyi commented on #47
Hi @Naimikan !

I was able to do it using MapboxGL without AngularJS, it looks like this:
[code]

[2018-03-15 14:50] Naimikan commented on #47
Hi @BohdanKorinnyi!

I will update this feature soon.

Thank you!

[2018-03-15 15:20] Naimikan commented on #45
Hi @ThomasLohmann!

Well, I want to port this directive to Angular 2, but I don't know when I will have time to do that, I hope it will be soon. Sorry!

[2018-03-15 16:12] BohdanKorinnyi commented on #47
@Naimikan thank you! It works, but how can I use some my function which is override in my controller or service?

[2018-03-15 16:51] ThomasLohmann commented on #45
Hi @Naimikan,

it would be really great. I think that helps a lot of people!

[2018-03-15 20:29] Naimikan commented on #47
Hi @BohdanKorinnyi!

I don't understand your question, what do you want to do? You can use any function that you defined in $scope:

[code]

[2018-03-15 21:23] BohdanKorinnyi commented on #47
Thank you @Naimikan !

[2018-03-15 21:23] #47 closed

[2018-03-18 19:52] Naimikan commented on #46
Hi @BohdanKorinnyi!

You can remove sources and layers with:
[code]
But remember, you have to remove sources and layers to clean all correctly.

Tell me if it worked!

[2018-03-21 22:51] BohdanKorinnyi commented on #46
@Naimikan Thank you! It works for me!

[2018-03-21 22:51] #46 closed

[2018-04-18 13:49] ezk84 opened #48 "Map event"

[2018-05-03 20:32] Wykks commented on #45
https://github.com/Wykks/ngx-mapbox-gl :smile:

[2018-05-11 16:15] ezk84 commented on #48
The only problem may be with the mouse events, where each mouse move would trigger a digest cycle through `$rootScope.apply`, may be too much no?

[2018-05-16 07:20] csimpi opened #49 "Leaflet Instance"
Hi, thank you for this directive, very helpful.

I'd like to use the leaflet-image plugin to make a snapshot.

Here is the example:
https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-image/

[code]

I'm getting getSize() function doesn't exists when the leafletImage plugin calls the getSize() function on the $scope.mapInstance object.
Everything else like addLayer(),addSource() is working.

[2018-05-23 17:12] Naimikan commented on #49
Hi @csimpi!

I'm not familiar with leaflet-image plugin, but I think that this plugin only works with mapbox.js, not with mapboxgl. Could be that the problem?

[2018-07-16 05:02] sojaducana opened #50 "A way to set map dimensions"
Is there a way to explicitly set map dimensions?

[2018-07-16 05:15] #50 closed, assigned to nobody

[2018-08-03 15:11] puneethshetty12 opened #51 "Help need to retrieve zoom level"
Hello,

Thank you for this awesome directive. It has been very helpful for me.
However, I would like to know if there is any way to retrieve the current zoom level.
It would be really helpful.

Thank you. :)

[2018-08-06 08:23] puneethshetty12 commented on #51
Hello,

I have found a solution for this. Here it is, just in case someone wants to do the same thing.

[code]

[2018-08-06 08:23] #51 closed, assigned to nobody

[2018-11-15 13:55] vomc opened #52 "Question: Is there a simple way to get a reference to the underlying map?"
Hi,

Haven't spent too much time digging around the src but looking through the examples, I was wondering if there is a way to get a reference (to be able to call methods) on the underlying mapboxGL object in a controller.

I can set zoom, center, etc as properties in my controller and pass those to the directive according to the examples that are on the site but what if I wanted to get a referenc

[2018-11-15 14:34] Naimikan commented on #52
Hi @vomc!

You can get the mapboxGL object using `load` event:

[code]

[code]

I hope I've helped you!

[2018-11-21 15:12] vomc commented on #52
Thank you so much! That is very helpful.

[2018-11-21 15:12] #52 closed, assigned to Naimikan

[2019-01-18 00:48] mg1075 opened #53 "click event for custom markers"
Thanks for writing this directive.
My question is about adding a click event to custom markers, where the array of markers gets attached to the `gl-markers` attribute.

A mapbox tutorial shows that they manually add event listeners to custom markers.
https://www.mapbox.com/help/tutorials/building-a-store-locator/#add-new-event-listeners

I am able to do similar inside an angularjs controller using

[2019-01-21 17:30] mg1075 commented on #2
But how can one access the **real** `flyTo` function as evidenced in this mapbox tutorial?

https://docs.mapbox.com/help/demos/gl-store-locator/step-five.html
view-source:https://docs.mapbox.com/help/demos/gl-store-locator/step-five.html

[2019-02-01 04:47] that1guy opened #54 "How do I get bounds of the current map"
Guess I just need to know how to access the map API directly?  https://docs.mapbox.com/mapbox-gl-js/api/#map#getbounds

Thanks for the help.

[2019-02-01 04:48] #36 closed

[2019-02-01 04:56] that1guy commented on #54
Found my answer: https://github.com/Naimikan/angular-mapboxgl-directive/issues/52#issuecomment-439060398

Closing.

[2019-02-01 04:56] #54 closed, assigned to nobody

[2019-04-12 10:47] siddmegadeth commented on #16
I am getting undefined for mapboxglMapsData
Any Suggestion

[code]

[2019-04-12 11:00] Naimikan commented on #16
Hi @siddmegadeth!

If you look at your controller declaration, you have more parameters than the definition:

[code]

You missed the `journey` variable.

[2019-04-12 11:00] #16 closed

[2019-07-09 16:16] aleksmaksiuta commented on #35
Hi @mm-ns, can you help me? How did you determine that element on 'mousemove' is marker? Did you compare coordinates?

[2019-07-16 17:23] rzthrun opened #55 "Broken Example Link"
Looking for how to add a pop-up to a layer/polygon.
This link on the example pages doesn't lod
https://naimikan.github.io/angular-mapboxgl-directive/#/examples/add_popup

[2019-10-02 19:41] siddmegadeth commented on #48
Also i need to control and get access to data in controllers. can it be done with about mapInstance

[2019-10-03 11:41] siddmegadeth commented on #52
Is there is a way to pass data into direction control from controller .
i have 2 coordinates.
one is origin and another is destination.
How can i pass data to direction control.

Quick help would be apprecialted

[2020-01-14 11:04] SMNRST opened #56 "Directions control doesn't show path"
In your example for Directions control, the path of direction doesn't display on the map.
https://naimikan.github.io/angular-mapboxgl-directive/#/examples/show_directions_control
how can I show the Path?
thanks in advance.

[2020-08-04 02:17] xiao-hu00 opened #57 "Whether to support the mapbox latest version"
Whether to support the mapbox latest version

[2021-02-16 09:44] amerador20 opened #58 "Fullscreen button"
Hi, I have a problem with fullscreen button.  When I put a custom navbar and push the fullscreen button, the navbar component disappears. I think that the fullscreen mode button takes a class from the map and everything that is outside of that div with that class does not include it in the fullscreeen view. ¿How can i add this custom control?

map.addControl(new mapboxgl.FullscreenControl({contain